@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	user-select: none;
	font-family: Outfit;
}

@font-face {
	font-family: Outfit;
	src: url('/fonts/outfit.ttf');
}

.animate-bigbounce {
	animation: bigbounce 1s infinite;
}

.animate-after-bigbounce::after {
	animation: bigbounce 1s infinite;
}

@keyframes bigbounce {
	0%,
	100% {
		transform: translateY(-40%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: none;
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

.cm-editor {
}

.cm-diagnostic-error {
}

.cm-tooltip {
	border-radius: 10px;
	border: 1px solid black;
	margin-top: 5px;
	background: white !important;
}

.cm-diagnostic {
	border-left: none !important;
	display: flex !important;
	flex-direction: column;
	padding: 10px !important;
	align-items: start;
}

.cm-diagnostic-error > * {
	margin: 4px 0px !important;
}

.cm-diagnosticAction {
}
