name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Build Release
      run: cargo build --verbose --release
    - name: Run Tests
      run: cargo test --verbose
    - name: Run Tests in Release
      run: cargo test --verbose --release
